html {
    scroll-behavior: auto;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #0d0d0d;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

main {
    display: inline-block;
    align-content: center;
}

section {
    width: 80%;
    margin: 3rem auto;
    font-size: 1rem;
    text-align: center;
}

.sectionTitle {
    font-size: 3rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.sectionStoreButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.layout a {
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
}

header {
    text-align: center;
    position:relative;
    display: flex;
}

#home {
    width: 100%;
}

#monster {
    position: absolute;
}

.list li{
    list-style: disc;
}

.gameIcon {
    border-radius: 20%;
    width: 200px;
    transition: transform 0.5s ease;
}

#icon {
    border-radius: 100%;
    width: 200px;
    transition: transform 0.5s ease;
}

.gameIcon:hover,
#icon:hover {
    transform: scale(1.2);
}

footer {
    width: 100%;
    height: 10rem;
    background-color: #000000;
    text-align: center;
    align-content: center;
}

footer a{
    color: #f58400;
}

#privacySection {
    text-align: left;
    padding: 10rem 3rem 3rem;
    max-width: 800px;
}

.NavigationBar{
    z-index: 10;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    background: linear-gradient(to bottom, #000000CC, #00000000);
}

.sectionInfo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.sectionInfo2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.sectionInfo2 .right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}

.sectionInfo p {
    line-height: 1.75rem;
}

.sectionInfo2 p {
    line-height: 1.75rem;
}

.cards {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card {
    margin: 1.5rem;
    max-width: 25vw;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 2px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 25px;
    transition: all 0.5s;
    user-select: none;
    transform: scale(0.8);
    will-change: transform;
}

.card:hover {
    border: 2px solid black;
    transform: scale(1.1) !important;
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg) !important;
}

.container {
    height: 80px;
}

.layout {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 2.5rem;
    align-items: center;
}

.logo {
    white-space: nowrap;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
    color: white;
    font-size: 1.875rem;
    font-weight: bold;
    letter-spacing: -0.015em;
    padding-left: 2rem;
}

.fade-text {
    opacity: 0.1;
    transition: opacity 0.5s;
}

#logo {
    height: 50px;
    width: 100px;
}

.nav-links {
    display: flex;
    gap: 3.5rem;
    justify-content: right;
    padding-right: 3rem;
}

.nav-item {
    height: 35px;
    padding-top: 1rem;
}

.nav-link {
    position: relative;
    display: flex;
    font-weight: 500;
    letter-spacing: -0.015em;
    overflow: hidden;
}

.nav-text {
    font-size: 110%;
    color: white;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-text.overlay {
    position: absolute;
    top: 100%;
    left: 0;
    transition: transform 0.3s ease;
}

.nav-link:hover .nav-text {
    transform: translateY(-100%);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.625rem 1.5rem;
    margin: 1rem;
    width: 8.75rem;
    height: 2rem;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: white;
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: all 0.2s ease;
}

.playstore-button:hover {
    color: white;
    background-color: transparent;
    border: 2px solid black;
    transform: scale(1.1);
}

.playstore-button:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

#aboutDiv {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.tooltip-container {
    align-self: center;
    justify-self: center;
    position: relative;
    transition: all 0.2s;
    font-size: 17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.tooltip-container .border-back {
    width: 60px;
    height: 60px;
    background-color: rgba(248, 250, 252, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: none;
}

.tooltip-container .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #f58400;
    background-image: linear-gradient(
            120deg,
            #f58400 0%,
            #f32d03 100%
    );
    transition: 0.4s ease-in-out;
}

.tooltip {
    position: absolute;
    z-index: -10;
    transform: scaleX(0);
    transform-origin: left center;
    height: 50px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s;
    border-radius: 0 50px 50px 0;
    background-color: #f58500;
    background-image: linear-gradient(
            120deg,
            #f58400 0%,
            #f32d03 100%
    );
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 16px;
    color: #fff;
    padding-left: 40px;
    margin-left: -25px;
    left: 100%;
}

.tooltip-container:hover .tooltip {
    transform: unset;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: -10;
}

.tooltip-container:hover {
    transform: translateX(-0px);
    transition: 0.5s linear;
}

.tooltip-container:hover .icon {
    transform: rotate(360deg);
    transition: 0.5s linear;
}

@media (max-width: 768px) {
    .cards {
        display: block;
    }

    .card {
        display: block;
        max-width: 90%;
        margin: 1rem auto;
    }
    
    .sectionInfo {
        grid-template-columns: 1fr;
    }

    .sectionInfo2 {
        grid-template-columns: 1fr;
    }

    .gameIcon {
        max-width: 60%;
    }
}